<% provide(:title, @question.title) %>
<h1><%= @question.title %></h1>

<div class="row">
  <div class="span12">
	
	<div class="well">
	  <p><%= simple_format(@question.content) %></p>
	  <p>
	    <strong>Hashtags: </strong>
	    <%= raw @question.tag_list.map { |t| link_to "##{t}", tag_path(t) }.join(' ') %>
	  </p>
	  <p>
	    <%= link_to @question.user.name, @question.user %> 
	    asked <%= time_ago_in_words(@question.created_at) %> ago.
	  </p>
	</div>

	<hr>
	
	<% if @question.answers.any? %>
	  <h3><%= pluralize(@question.answers.count, "Answer") %></h3>
	  <ol class="answers">
	    <%= render @answers, content: true, user: true %>
	  </ol>
	  <%= will_paginate @answers %>
	<% end %>

	<hr>

    <% if signed_in? %>
      <h3>Your Answer</h2>
	  <%= form_for(@answer) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.hidden_field :question_id, :value => @question.id %> 
        <%= f.text_area :content, placeholder: "Answer this question..." %>

        <%= f.submit "Answer", class: "btn btn-large btn-primary" %>
      <% end %>
    <% end %>

  </div>
</div>