<% provide(:title, @user.name) %>
<h1><%= @user.name %></h1>
<h4>
  Reputation: <%= link_to @user.reputation, '#' %>
  <br><br>
  Votes Cast: <%= link_to @user.votes_cast, '#' %>
</h4>

<div class="row">
  <div class="span6">
  	<h3>Questions (<%= @user.questions.count %>)</h3>
	<% if @user.questions.any? %>
	  <ol class="questions">
	    <%= render @questions %>
	  </ol>
	  <%= will_paginate @questions %>
	<% end %>
  </div>

  <div class="span6">
    <h3>Answers (<%= @user.answers.count %>)</h3>
	<% if @user.answers.any? %>
	  <ol class="answers">
	    <%= render @answers, title: true %>
	  </ol>
	  <%= will_paginate @answers %>
	<% end %>
  </div>
</div>