<% # Usage: render @answers, show flags %>
<% # E.g. : render @answers, user: true %>
<% # List of flags: %>
<% #   - title      %>
<% #   - content    %>
<% #   - user       %>
<% #   - vote       %>

<li>
  <span class="content">
  	<%= link_to answer.question.title, answer.question if defined? title %> 
  	<%= simple_format(answer.content) if defined? content %>
  </span>
  <span class="timestamp">
    <%= link_to answer.user.name, answer.user if defined? user %>
    answered <%= time_ago_in_words(answer.created_at) %> ago.
  </span>

  <!-- Display votes. -->
  | <%= pluralize answer.reputation_for(:votes).to_i, "vote" %>

  <!-- Display voting buttons. -->
  <% if signed_in? && defined?(vote) && !current_user?(answer.user) %>

    <!-- Bold user vote. -->
    <% eval = answer.evaluations.where(reputation_name: :votes,
                                       source_id: current_user.id,
                                       target_id: answer.id).first %>
    <% if eval.present? && eval.value > 0 %>
      <strong>
    <% end %>
    | <%= link_to "up",
                  vote_answer_path(answer, type: "up"),
                  method: "post" %></strong>
    <% if eval.present? && eval.value < 0 %>
      <strong>
    <% end %>
    | <%= link_to "down",
                  vote_answer_path(answer, type: "down"),
                  method: "post" %></strong>
  <% end %>

  <!-- Display edit and delete buttons. -->
  <% if current_user?(answer.user) %>
    | <%= link_to "edit", '#' %>
    | <%= link_to "delete", '#' %>
    <!--answer, method: :delete, data: { confirm: "Are you sure?" }-->
  <% end %>
</li>